<div class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-70">
    <div class="bg-white p-[24PX] w-[400px] rounded-xl shadow-xl">
        <span class="flex items-center justify-between mb-4">
            <h3 class="text-heading font-semibold text-lg">Edit project</h3>
            <button (click)="onCancel()" class="text-black text-2xl">&times;</button>
        </span>
        <form class="flex flex-col gap-[10px]" [formGroup]="projectForm" (ngSubmit)="onUpdate()"> 
            <div class="flex flex-col gap-[4px]">
                <label for="title" class="text-paragraph font-medium tracking-wide text-sm">Project title</label>
                <input 
                    type="text"
                    required
                    id="title"
                    formControlName="title"
                    placeholder="Enter project name"
                    class="border border-border py-[10px] px-[14px] focus-within:outline-none focus-within:border-heading caret-primary placeholder:text-xs text-heading rounded-lg w-full"
                >
                <div 
                    class="text-red-500 text-[12px] flex items-center justify-between"
                    *ngIf="projectForm.get('title')?.invalid && (projectForm.get('title')?.touched || projectForm.get('title')?.dirty)"
                >
                    <div *ngIf="projectForm.get('title')?.errors?.['required']">project name is required</div>
                    <div *ngIf="projectForm.get('title')?.invalid && projectForm.get('title')?.touched">must only contain alphabets</div>
                </div>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="description" class="text-paragraph font-medium tracking-wide text-sm">Description</label>
                <textarea 
                    name="description" 
                    id="description"
                    formControlName="description"
                    required
                    maxlength="250"
                    (input)="updateCharacterCount($event)"
                    placeholder="Enter a description here"
                    class="w-full h-[128px] text-sm resize-none border border-border rounded-lg px-[14px] py-[10px] shadow-sm shadow-border focus-within:outline-none placeholder:text-xs focus-within:border-heading caret-heading"
                ></textarea>
                <div class="text-heading text-[12px] flex items-center justify-end">
                    <span>{{ charCount }}/{{ maxLength }}</span>
                </div>
                <div 
                    class="text-red-500 text-[12px] flex items-center justify-between"
                    *ngIf="projectForm.get('description')?.invalid && (projectForm.get('description')?.touched || projectForm.get('description')?.dirty)"
                >
                    <div *ngIf="projectForm.get('description')?.errors?.['required']">description is required</div>
                    <div *ngIf="projectForm.get('description')?.errors?.['maxLength']">must be 250 characters</div>
                    <div *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched">must only contain alphabets</div>
                </div>
            </div>
            <div class="w-full flex items-center gap-4">
                <button 
                    class="w-[48%] bg-white text-heading rounded-lg py-[8px] px-[14px] border border-border font-medium"
                    (click)="onCancel()"
                    type="button"
                >
                    Cancel
                </button>
                <button 
                    class="w-[48%] bg-primary hover:bg-tertiarycursor-pointer rounded-lg py-[8px] px-[14px]"
                    type="submit"
                    [disabled]="projectForm.invalid"
                >
                    <p *ngIf="!loading" class="tracking-wide font-medium text-white">Update</p>
                    <span *ngIf="loading" class="flex items-center gap-[10px]">
                        <app-spinner/> 
                        <p class="text-white font-medium tracking-wide">Updating...</p>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>