<div class="max-h-[410px] 3xl:max-h-[620px] overflow-y-auto">
    <div *ngIf="loading" class="mt-[3rem]">
        <app-spinner/>
    </div>
    <table class="w-full" *ngIf="!loading">
        <thead class="bg-[#e8eef8] sticky top-0 z-[1]">
            <tr>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Project title</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Description</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Date</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-sm text-paragraph tracking-wide"  *ngFor="let project of projects; let i = index">
                <td class="px-5 text-paragraph text-sm">{{ project.title }}</td>
                <td class="px-5 text-paragraph text-sm">
                    {{ project.description | slice:0:50 }}
                    <span *ngIf="project.description.length > 50">...</span>
                </td>
                <td class="px-5 text-paragraph text-sm">{{ project.created_at | date }}</td>
                <td class="py-4 px-5 text-paragraph relative">
                    <img 
                        src="../../../assets/action.svg" 
                        class="cursor-pointer" 
                        alt="action-icon"
                        (click)="toggleDropdown(i)"
                    />
                    <div 
                        *ngIf="isDropdownVisible[i]" 
                        class="absolute right-6 2xl:right-20 mt-1 w-[222px] bg-white border border-border shadow-lg z-10"
                    >
                        <button 
                            (click)="openEditProject(project)"
                            class="flex items-center gap-[12px] w-full px-4 py-2 hover:bg-[#EAECF0]"
                        >
                            <img src="../../../../assets/edit.svg" alt="edit">
                            <p class="text-heading text-left tracking-wide">Edit project</p>
                        </button>
                        <button 
                            (click)="deleteProject(project.id)" 
                            class="flex items-center gap-[12px] w-full px-4 py-2 hover:bg-[#EAECF0]"
                        >
                            <img src="../../../../assets/trash.svg" alt="trash">
                            <p class="text-heading text-left tracking-wide">Delete project</p>
                        </button>
                    </div>
                </td>
            </tr>                        
        </tbody>
    </table>
    
    <app-edit-project-modal
        *ngIf="isEditModalOpen"
        [project]="selectedProject"
        (cancel)="closeEditProject()"
        (submit)="onEditProjectSubmit()"
    />
</div>

<app-pagination
  *ngIf="!loading && totalProjects > pageSize"
  [totalData]="totalProjects"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (paginationChange)="handlePageChange($event)"
></app-pagination>