<div class="max-h-[410px] 3xl:max-h-[620px] overflow-y-auto">
    <div *ngIf="loading" class="mt-[3rem]">
        <app-spinner/>
    </div>
    <table class="w-full" *ngIf="!loading">
        <thead class="bg-[#e8eef8] sticky top-0 z-[1]">
            <tr>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Personnel name</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Email</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Profession</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Date</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Approval status</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-sm text-paragraph tracking-wide" *ngFor="let personnel of personnelDetails; let i = index">
                <td class="px-5">
                    <div class="flex items-center gap-[12px]">
                        <div 
                            class="relative w-[40px] h-[40px] rounded-full cursor-pointer flex items-center justify-center"
                            *ngIf="personnel.image"
                        >
                            <img [src]="personnel.image" class="w-full h-full object-cover rounded-full" alt="user-avatar">
                            <span
                                [ngClass]="{
                                    'bg-primary animate-pulse': personnel.status === 'VERIFIED',
                                    'bg-pending animate-pulse': personnel.status === 'PENDING'
                                }"
                                class="w-[10px] h-[10px] rounded-full absolute bottom-0 right-0"
                            ></span>
                        </div>
                        <p class="text-paragraph text-sm">{{personnel.name}}</p>
                    </div>
                </td>
                <td class="px-5 text-paragraph text-sm">{{personnel.email}}</td>
                <td class="px-5 text-paragraph text-sm">{{personnel.profession}}</td>
                <td class="px-5 text-paragraph text-sm">{{personnel.createdAt | date}}</td>
                <td class="px-5 text-paragraph text-sm">
                    <span 
                        [ngClass]="{
                            'bg-pendingBg text-pending': personnel.status === 'PENDING',
                            'bg-secondary text-primary': personnel.status === 'VERIFIED',
                            'bg-suspendBg text-suspend': personnel.status === 'SUSPEND'
                        }"
                        class="px-[10px] py-[4px] text-xs rounded-full font-bold"
                    >
                        {{personnel.status}}
                    </span>
                </td>
                <td class="py-4 px-5 text-paragraph relative">
                    <img 
                        src="../../../assets/action.svg" 
                        class="cursor-pointer" 
                        alt="action-icon"
                        (click)="toggleDropdown(i)"
                    />
                    <div 
                        *ngIf="isDropdownVisible[i]" 
                        class="absolute right-6 2xl:right-20 mt-1 w-[222px] bg-white border border-border shadow-lg z-10"
                    >
                        <button 
                            routerLink="personnel-details/{{personnel.id}}"
                            class="flex items-center gap-[12px] w-full px-4 py-2 hover:bg-[#EAECF0]"
                        >
                            <img src="../../../assets/eye.svg" alt="eye">
                            <p class="text-heading text-left tracking-wide">View details</p>
                        </button>
                        <button 
                            (click)="deletePersonnel(personnel.id)" 
                            class="flex items-center gap-[12px] w-full px-4 py-2 hover:bg-[#EAECF0]"
                        >
                            <img src="../../../assets/trash.svg" alt="trash">
                            <p class="text-heading text-left tracking-wide">Delete personnel</p>
                        </button>
                    </div>
                </td>
            </tr>                        
        </tbody>
    </table>
</div>

<app-pagination
  *ngIf="!loading && totalPersonnel > pageSize"
  [totalData]="totalPersonnel"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (paginationChange)="handlePageChange($event)"
></app-pagination>