<div class="w-full py-[2rem] 3xl:py-[3rem] xl:px-[4rem] flex flex-col xl:gap-[2rem] 3xl:gap-[3rem]">
    <h2 class="text-sm text-heading tracking-wide font-semibold py-[10px] w-fit border-b-2 border-primary">Account settings</h2>
    <div class="flex gap-[40px] w-full">
        <div class="w-[30%]">
            <h2 class="text-sm text-heading tracking-wide font-medium mb-[10px]">Personal information</h2>
            <p class="text-sm text-paragraph tracking-wide">Update your profile photo and personal details</p>
        </div>
        <div class="w-[65%] bg-white p-[24px] border-none rounded-lg shadow-md">
            <form class="flex flex-col xl:gap-[16px] 3xl:gap-[24px]" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-col gap-[4px]">
                    <label for="name" class="text-sm tracking-wide">Full name</label>
                    <input 
                        type="text"
                        id="name"
                        [readOnly]="true"
                        formControlName="name"
                        class="border border-border py-[6px] px-[1rem] focus-within:outline-none focus-within:border-heading caret-primary placeholder:text-sm text-heading rounded-lg w-full"
                    >
                </div>
                <div class="flex flex-col gap-[4px]">
                    <label for="email" class="text-sm tracking-wide">Email</label>
                    <input 
                        type="email"
                        id="email"
                        [readOnly]="true"
                        formControlName="email"
                        class="border border-border py-[6px] px-[1rem] focus-within:outline-none focus-within:border-heading caret-primary placeholder:text-sm text-heading rounded-lg w-full"
                    >
                </div>
                <div class="flex gap-[20px] 3xl:justify-between">
                    <span 
                      class="w-[100px] h-[100px] rounded-full bg-pendingBg border-2 border-pending flex items-center justify-center"
                      (dragover)="onDragOver($event)"
                      (drop)="onDrop($event)"
                      [style.backgroundImage]="image ? 'url(' + image + ')' : 'none'"
                      [style.backgroundSize]="'cover'"
                      [style.backgroundPosition]="'center'">
                    </span>
                    <div 
                      class="w-[83%] 3xl:w-[85%] h-[200px] 3xl:h-[250px] flex items-center flex-col justify-center gap-[15px] border border-border rounded-lg"
                      (click)="onClickUpload()"
                      (dragover)="onDragOver($event)"
                      (drop)="onDrop($event)">
                      <input 
                        type="file" 
                        accept="image/*" 
                        style="display: none;" 
                        #fileInput 
                        (change)="onFileSelected($event)"
                    >
                        <img src="../../assets/upload-icon.svg" alt="upload-icon">
                        <span class="text-sm tracking-wide">
                        <strong>Click to upload</strong> or drag and drop an image here
                        </span>
                        <p class="text-sm tracking-wide">SVG, PNG, JPG or GIF (max. 800x400px)</p>
                    </div>
                </div>
                <div class="flex items-center gap-4 justify-end">
                    <button 
                        class="bg-white hover:bg-gray50 text-sm text-heading rounded-lg py-[8px] px-[14px] border border-border font-semibold"
                        type="button"
                        (click)="onCancel()"
                    >
                        Cancel
                    </button>
                    <button 
                        class="bg-primary hover:bg-tertiary text-sm text-white rounded-lg py-[8px] px-[14px] font-semibold"
                        type="submit"
                    >
                        <p *ngIf="!loading" class="tracking-wide font-medium text-white">Save changes</p>
                        <span *ngIf="loading" class="flex items-center gap-[10px]">
                            <app-spinner/> 
                            <p class="text-white font-medium tracking-wide">Saving changes...</p>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>