<div class="w-full py-[43px] px-[98px] flex flex-col gap-[24px] max-h-[600px] 3xl:max-h-[800px] overflow-y-auto">
    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading && personnel">
        <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50 mb-4">
            <h3 class="text-heading tracking-wide font-semibold mb-[16px]">General information</h3>
            <div class="w-full flex gap-[41px]">
                <div class="relative w-[220px] h-[220px] cursor-pointer flex items-center justify-center">
                    <img [src]="personnel.data.user.image" class="w-full h-full object-cover" alt="user-avatar">
                </div>
                <div class="w-full flex flex-col gap-[32px]">
                    <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Full name</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.user.name}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Date of birth</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.dob | date}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Digital address</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.digitalAddress}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Gender</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.gender}}</h3>
                        </span>
                    </div>
                    <div class="w-full flex items-center justify-between py-[24px]">
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Phone number</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.phoneNumber}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">House number</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.houseNumber}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Town</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.town}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Email</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.user.email}}</h3>
                        </span>
                    </div>
                </div>   
            </div>
        </div>
        <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50 mb-4">
            <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Professional information</h3>
            <div class="w-full flex gap-[41px]">
                <div class="w-full flex flex-col gap-[32px]">
                    <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Profession</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.profession.name}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Employee ID</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.personnelProfession.employeeId}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Current position</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.personnelProfession.currentPosition}}</h3>
                        </span>
                    </div>
                    <div class="w-full flex items-center justify-between py-[24px]">
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Employer Name</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.personnelProfession.employerName}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Employer email</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.personnelProfession.employerEmail}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Years of experience</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.personnelProfession.experienceYears}}</h3>
                        </span>
                    </div>
                </div>           
            </div>
        </div>
        <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50 mb-4">
            <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Educational background</h3>
            <div class="w-full flex gap-[41px]">
                <div class="w-full flex flex-col gap-[32px]">
                    <div class="w-full flex items-center justify-between py-[24px]">
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Qualification</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.educationalBackground.qualification}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Field of study</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.educationalBackground.studyField}}</h3>
                        </span>
                        <span>
                            <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Graduation year</h5>
                            <h3 class="font-medium tracking-wide">{{personnel.data.educationalBackground.graduationYear}}</h3>
                        </span>
                    </div>
                </div> 
            </div>
        </div>
        <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50 mb-4">
            <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Project undertaken</h3>
            <div class="w-full">
                <span>
                    <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Total projects undertaken</h5>
                    <h3 class="font-medium tracking-wide">{{personnel.data.totalProjects}}</h3>
                </span>
            </div>
        </div>
        <div class="flex items-center gap-[1rem] justify-end">
            <button 
                class="bg-white text-heading rounded-lg py-[8px] px-[14px] font-medium border border-border hover:bg-suspendBg shadow-sm" 
                (click)="deletePersonnel(personnel.data.user.id)"
            >
                <p *ngIf="!loading" class="tracking-wide font-medium text-heading">Delete</p>
                <span *ngIf="loading" class="flex items-center gap-[10px]">
                    <app-spinner/> 
                    <p class="text-heading font-medium tracking-wide">Deleting...</p>
                </span>
        </button>
            <button 
                class="bg-primary text-white rounded-lg py-[8px] px-[14px] font-medium border border-primary hover:bg-tertiary shadow-sm"
                (click)="verifyPersonnel(personnel.data.user.id)"
            >
                <p *ngIf="!loading" class="tracking-wide font-medium text-white">Verify personnel</p>
                <span *ngIf="loading" class="flex items-center gap-[10px]">
                    <app-spinner/> 
                    <p class="text-white font-medium tracking-wide">Verifying...</p>
                </span>
            </button>
        </div>
    </div>
</div>
