<div class="bg-gray50 flex w-full items-center justify-center flex-col gap-[1.3rem] h-screen">
    <div class="max-w-[80%] flex items-center justify-center">
        <img src="../../../assets/unauthorized.svg" class="w-full" alt="404-illustration">
    </div>
    <h2 class="text-heading tracking-wide text-2xl font-bold text-center">Unauthorized Access</h2>
    <p class="text-paragraph tracking-wide text-xs leading-5 text-center mb-[20px]">
        Oops! 😉 you don't have access to visit this page. <br>
        Please login with the right credential to visit this page.
    </p>
    <a routerLink="/login" class="text-sm cursor-pointer font-medium bg-primary text-white rounded-lg py-[8px] px-[14px]">Back to Login</a>
</div>