<div class="bg-gray50 flex w-full items-center justify-center flex-col gap-[1.3rem] h-screen">
    <div class="max-w-[80%] flex items-center justify-center">
        <img src="../../../assets/404.svg" class="w-full" alt="404-illustration">
    </div>
    <h2 class="text-heading tracking-wide text-2xl font-bold text-center">Oops! 😉 Page not Found</h2>
    <p class="text-paragraph tracking-wide text-xs leading-5 text-center mb-[20px]">
        The page you're looking for might have been removed or <br>
        is temporarily unavailable
    </p>
    <a routerLink="" class="text-sm font-medium bg-primary text-white rounded-lg py-[8px] px-[14px]">Back to Home Page</a>
</div>