<div class="w-full py-[25px] 2xl:py-[50px] flex items-center flex-col justify-center">
    <section class="step-wizard">
        <ul class="step-wizard-list">
            <li class="step-wizard-item" [ngClass]="{'current-item': currentStep === 1}">
                <span class="progress-count">1</span>
                <span class="progress-label">General Information</span>
            </li>
            <li class="step-wizard-item" [ngClass]="{'current-item': currentStep === 2}">
                <span class="progress-count">2</span>
                <span class="progress-label">Professional Information</span>
            </li>
            <li class="step-wizard-item" [ngClass]="{'current-item': currentStep === 3}">
                <span class="progress-count">3</span>
                <span class="progress-label">Educational Background</span>
            </li>
            <li class="step-wizard-item" [ngClass]="{'current-item': currentStep === 4}">
                <span class="progress-count">4</span>
                <span class="progress-label">Preview Profile</span>
            </li>
        </ul>
    </section>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="w-[80%] 2xl:w-[60%] py-[24px]">
        <div [ngSwitch]="currentStep" class="shadow-md bg-white rounded-xl pb-[20px] 2xl:pb-[30px] mb-[30px]">
            <div *ngSwitchCase="1">
                <div class="py-[24px] shadow 2xl:mb-[24px]">
                    <h2 class="text-center text-heading tracking-wide font-medium mb-[5px]">General Information</h2>
                    <p class="text-sm tracking-wide text-center text-paragraph">Please provide the following information about yourself</p>
                </div>
                <div class="flex items-center justify-between w-[80%] py-[30px] mx-auto">
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">                        
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('dob')?.invalid && profileForm.get('dob')?.touched}">
                            <label for="dob">Date of birth *</label>
                            <input 
                                formControlName="dob"
                                id="dob"
                                placeholder="Enter date of birth here" 
                                type="date"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('dob')?.invalid && profileForm.get('dob')?.touched">Date of birth is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('gender')?.invalid && profileForm.get('gender')?.touched}">
                            <label for="gender">Gender *</label>
                            <select 
                                id="gender"
                                formControlName="gender"
                                required
                                class="w-[320px] relative focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                                <option value="">Select your gender</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('gender')?.invalid && profileForm.get('gender')?.touched">Gender is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('town')?.invalid && profileForm.get('town')?.touched}">
                            <label for="town">Town *</label>
                            <input 
                                formControlName="town"
                                id="town"
                                placeholder="Enter town here" 
                                type="text"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('town')?.invalid && profileForm.get('town')?.touched">Town is required</div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched}">
                            <label for="phoneNumber">Phone number *</label>
                            <input 
                                formControlName="phoneNumber"
                                id="phoneNumber"
                                placeholder="Enter phone number here" 
                                type="text"
                                required
                                appPhoneNumber
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched">Phone number is required and should be valid</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('houseNumber')?.invalid && profileForm.get('houseNumber')?.touched}">
                            <label for="houseNumber">House number *</label>
                            <input 
                                formControlName="houseNumber"
                                id="houseNumber"
                                placeholder="Enter house address here" 
                                type="text"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('houseNumber')?.invalid && profileForm.get('houseNumber')?.touched">House number is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('digitalAddress')?.invalid && profileForm.get('digitalAddress')?.touched}">
                            <label for="digitalAddress">Digital address *</label>
                            <input 
                                formControlName="digitalAddress"
                                id="digitalAddress"
                                placeholder="Enter digital address here"
                                type="text"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('digitalAddress')?.invalid && profileForm.get('digitalAddress')?.touched">Digital address is required</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div *ngSwitchCase="2">
                <div class="py-[24px] shadow mb-[24px]">
                    <h2 class="text-center text-heading tracking-wide font-medium mb-[5px]">Professional Information</h2>
                    <p class="text-sm tracking-wide text-center text-paragraph">Please provide the following information about your profession</p>
                </div>
                <div class="flex justify-between w-[80%] py-[24px] mx-auto">
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('professionId')?.invalid && profileForm.get('professionId')?.touched}">
                            <label for="professionId">Profession *</label>
                            <select 
                                name="professionId" 
                                id="professionId"
                                formControlName="professionId"
                                required
                                class="border border-border py-[10px] px-[14px] focus-within:border-heading focus-within:outline-none caret-primary text-sm text-heading rounded-lg w-full"
                            >
                            <option value="">Select profession</option>
                            <option *ngFor="let profession of professions" [value]="profession.id">
                                {{ profession.name }}
                            </option>
                        </select>
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('professionId')?.invalid && profileForm.get('professionId')?.touched">Profession is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('employeeId')?.invalid && profileForm.get('employeeId')?.touched}">
                                <label for="employeeId">Employee ID *</label>
                                <input 
                                    formControlName="employeeId"
                                    id="employeeId"
                                    placeholder="Enter employee Id here" 
                                    type="text"
                                    required
                                    class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                                >
                                <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('employeeId')?.invalid && profileForm.get('employeeId')?.touched">Employee ID is required</div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('employerEmail')?.invalid && profileForm.get('employerEmail')?.touched}">
                            <div class="flex flex-col gap-[4px]">
                                <label for="employerEmail">Employer's email *</label>
                                <input 
                                    formControlName="employerEmail"
                                    id="employerEmail"
                                    placeholder="Enter employer email here" 
                                    type="email"
                                    required
                                    class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                                >
                                <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('employerEmail')?.invalid && profileForm.get('employerEmail')?.touched">Employer email is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-[10px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('currentPosition')?.invalid && profileForm.get('currentPosition')?.touched}">
                            <label for="currentPosition">Current position *</label>
                            <select 
                                id="currentPosition"
                                formControlName="currentPosition"
                                required
                                class="border border-border py-[10px] px-[14px] focus-within:border-heading focus-within:outline-none caret-primary text-sm text-heading rounded-lg w-full"
                            >
                                <option value="">Select your position</option>
                                <option value="JUNIOR">JUNIOR</option>
                                <option value="ASSOCIATE">ASSOCIATE</option>
                                <option value="EXPERT">EXPERT</option>
                            </select>
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('currentPosition')?.invalid && profileForm.get('currentPosition')?.touched">Current position is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('experienceYears')?.invalid && profileForm.get('experienceYears')?.touched}">
                            <label for="experienceYears">Years of experience *</label>
                            <input 
                                formControlName="experienceYears"
                                id="experienceYears"
                                placeholder="12" 
                                type="number"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('experienceYears')?.invalid && profileForm.get('experienceYears')?.touched">Years of experience is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('employerName')?.invalid && profileForm.get('employerName')?.touched}">
                            <div class="flex flex-col gap-[4px]">
                                <label for="employerName">Employer's name *</label>
                                <input 
                                    formControlName="employerName"
                                    id="employerName"
                                    placeholder="Enter employer's name here" 
                                    type="text"
                                    required
                                    class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                                >
                                <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('employerName')?.invalid && profileForm.get('employerName')?.touched">Employer name is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div *ngSwitchCase="3">
                <div class="py-[24px] shadow mb-[24px]">
                    <h2 class="text-center text-heading tracking-wide font-medium mb-[5px]">Educational background</h2>
                    <p class="text-sm tracking-wide text-center text-paragraph">Please provide the following information about your education here</p>
                </div>
                <div class="flex justify-between w-[80%] py-[24px] mx-auto">
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('qualification')?.invalid && profileForm.get('qualification')?.touched}">
                            <label for="qualification">Qualification *</label>
                            <input 
                                formControlName="qualification"
                                id="qualification"
                                placeholder="Enter qualification here" 
                                type="text"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('qualification')?.invalid && profileForm.get('qualification')?.touched">Qualification is required</div>
                        </div>
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('graduationYear')?.invalid && profileForm.get('graduationYear')?.touched}">
                            <label for="graduationYear">Graduation year *</label>
                            <input 
                                formControlName="graduationYear"
                                id="graduationYear"
                                placeholder="Enter field of study here" 
                                type="number"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('graduationYear')?.invalid && profileForm.get('graduationYear')?.touched">Graduation year is required</div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]" [ngClass]="{'has-error': profileForm.get('studyField')?.invalid && profileForm.get('studyField')?.touched}">
                            <label for="studyField">Field of study *</label>
                            <input 
                                formControlName="studyField"
                                id="studyField"
                                placeholder="Enter field of study here" 
                                type="text"
                                required
                                class="w-[320px] focus-within:outline-none caret-primary border border-border focus-within:border-heading py-[8px] px-[14px] placeholder:text-sm placeholder:text-paragraph rounded-lg"
                            >
                            <div class="text-red-400 text-xs tracking-wide mb-0 leading-none" *ngIf="profileForm.get('studyField')?.invalid && profileForm.get('studyField')?.touched">Field of study is required</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div *ngSwitchCase="4">
                <div class="py-[24px] shadow mb-[24px]">
                    <h2 class="text-center text-heading tracking-wide font-medium mb-[5px]">Preview forms</h2>
                    <p class="text-sm tracking-wide text-center text-paragraph">Please note that this data is collect once and cannot be updated later in the application</p>
                </div>
                <div class="flex items-center justify-between w-[80%] py-[30px] mx-auto">
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Date of birth</label>
                            <p>{{ profileForm.get('dob')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Gender</label>
                            <p>{{ profileForm.get('gender')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Town</label>
                            <p>{{ profileForm.get('town')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Phone number</label>
                            <p>{{ profileForm.get('phoneNumber')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">House number</label>
                            <p>{{ profileForm.get('houseNumber')?.value }}</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Digital Address</label>
                            <p>{{ profileForm.get('digitalAddress')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Profession</label>
                            <p>{{ profileForm.get('professionId')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Current position</label>
                            <p>{{ profileForm.get('currentPosition')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Employee ID</label>
                            <p>{{ profileForm.get('employeeId')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Employer's name</label>
                            <p>{{ profileForm.get('employerName')?.value }}</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-[15px] 2xl:gap-[20px]">
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Employer's email</label>
                            <p>{{ profileForm.get('employerEmail')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Years of experience</label>
                            <p>{{ profileForm.get('experienceYears')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Qualification</label>
                            <p>{{ profileForm.get('qualification')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Field of study</label>
                            <p>{{ profileForm.get('studyField')?.value }}</p>
                        </div>
                        <div class="flex flex-col gap-[4px]">
                            <label for="dob">Graduation Year</label>
                            <p>{{ profileForm.get('graduationYear')?.value }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="w-full mx-auto flex items-center justify-end mt-[10px] gap-[16px]">
            <button 
                type="button" 
                (click)="prevStep()"
                *ngIf="currentStep > 1"               
                class="px-[14px] py-[8px] bg-white border border-border rounded-lg text-heading tracking-wide font-medium hover:bg-slate-50 text-sm"
            >
                Previous
            </button>
            <button 
                type="button" 
                (click)="nextStep()"
                *ngIf="currentStep < 4"
                class="px-[14px] py-[8px] bg-primary border border-border rounded-lg text-white tracking-wide font-medium hover:bg-tertiary text-sm"
            >
                <p class="white" *ngIf="!loading">Save & continue</p>
                <span *ngIf="loading" class="flex items-center gap-[8px]">
                    <app-spinner/>
                    Saving...
                </span>
            </button>
            <button 
                type="submit" 
                *ngIf="currentStep === 4"
                class="px-[14px] py-[8px] bg-primary border border-border rounded-lg text-white tracking-wide font-medium hover:bg-tertiary text-sm"
            >
            <p class="white" *ngIf="!loading">Submit</p>
            <span *ngIf="loading" class="flex items-center gap-[8px]">
                <app-spinner/>
                Submitting data...
            </span>
            </button>
        </div>
    </form>
</div>