<div class="max-h-[410px] 3xl:max-h-[620px] overflow-y-auto">
    <div *ngIf="loading" class="mt-[3rem]">
        <app-spinner/>
    </div>
    <table class="w-full" *ngIf="!loading">
        <thead class="bg-[#e8eef8] sticky top-0 z-[1]">
            <tr>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Name</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Email</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Phone number</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Date</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Status</th>
                <th class="text-paragraph tracking-wide font-medium py-5 px-5 text-sm text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-sm text-paragraph tracking-wide"  *ngFor="let manager of managers; let i = index">
                <td class="px-5">
                    <div class="flex items-center gap-[12px]">
                        <div 
                            class="relative w-[40px] h-[40px] rounded-full cursor-pointer flex items-center justify-center"
                            *ngIf="manager.image"
                        >
                            <img [src]="manager.image" class="w-full h-full object-cover rounded-full" alt="user-avatar">
                            <span
                                [ngClass]="{
                                    'bg-primary animate-pulse': manager.status === 'AVAILABLE',
                                    'bg-pending animate-pulse': manager.status === 'REMOVED'
                                }"
                                class="w-[10px] h-[10px] rounded-full absolute bottom-0 right-0"
                            ></span>
                        </div>
                        <p class="text-paragraph text-sm">{{manager.name}}</p>
                    </div>
                </td>
                <td class="px-5 text-paragraph text-sm">{{ manager.email }}</td>
                <td class="px-5 text-paragraph text-sm">{{ manager.phoneNumber }}</td>
                <td class="px-5 text-paragraph text-sm">{{ manager.created_at | date }}</td>
                <td class="px-5 text-paragraph text-sm">
                    <span 
                        [ngClass]="{
                            'bg-pendingBg text-pending': manager.status === 'AVAILABLE',
                            'bg-suspendBg text-suspend': manager.status === 'REMOVED',
                        }"
                        class="px-[14px] py-[4px] text-xs rounded-full font-bold"
                    >
                        {{manager.status}}
                    </span>
                </td>
                <td class="py-4 px-5 text-paragraph relative">
                    <img 
                        src="../../../assets/action.svg" 
                        class="cursor-pointer" 
                        alt="action-icon"
                        (click)="toggleDropdown(i)"
                    />
                    <div 
                        *ngIf="isDropdownVisible[i]" 
                        class="absolute right-6 2xl:right-20 mt-1 w-[222px] bg-white border border-border shadow-lg z-10"
                    >
                        <button 
                            (click)="OpenEditManager(manager)"
                            class="flex items-center gap-[12px] w-full px-4 py-2 hover:bg-[#EAECF0]"
                        >
                            <img src="../../../../assets/edit.svg" alt="edit">
                            <p class="text-heading text-left tracking-wide">Edit manager</p>
                        </button>
                        <button 
                            (click)="deleteManager(manager.id)" 
                            class="flex items-center gap-[12px] w-full px-4 py-2 hover:bg-[#EAECF0]"
                        >
                            <img src="../../../../assets/trash.svg" alt="trash">
                            <p class="text-heading text-left tracking-wide">Delete manager</p>
                        </button>
                    </div>
                </td>
            </tr>                        
        </tbody>
    </table>

    <app-edit-manager-modal
        *ngIf="isEditModalOpen"
        [manager]="selectedManager"
        (cancel)="closeEditManagerModal()"
        (submit)="onEditManagerSubmit()"
    />
</div>

<app-pagination
  *ngIf="!loading && totalManagers > pageSize"
  [totalData]="totalManagers"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (paginationChange)="handlePageChange($event)"
></app-pagination>