<div class="bg-white h-auto overflow-x-hidden max-w-full">
    <div class="max-w-full h-screen px-[5%] py-[1.7%] 3xl:py-[2%] bg-homeBg relative" id="home">
        <header class="w-[90%] bg-white p-[16px] fixed z-50 rounded-[16px] shadow-md flex items-center justify-between"> 
            <span class="flex items-center gap-[10px]">
                <img src="../../assets/loom.svg" alt="logo">
                <h2 class="text-primary font-bold tracking-wide text-sm md:text-lg">Personnel Disaster Recovery</h2>
            </span>
            <nav>
                <a 
                    href="#home" 
                    class="text-sm tracking-wide text-heading font-medium">
                    Home
                </a>
                <a 
                    href="#about_us" 
                    class="text-sm tracking-wide text-heading font-medium">
                    About us
                </a>
                <a 
                    href="#features" 
                    class="text-sm tracking-wide text-heading font-medium">
                    Features
                </a>
                <a 
                    href="#services" 
                    class="text-sm tracking-wide text-heading font-medium">
                    Services
                </a>
                <a 
                    href="#testimonial" 
                    class="text-sm tracking-wide text-heading font-medium">
                    Testimonials
                </a>
                <a 
                    href="#contact_us" 
                    class="text-sm tracking-wide text-heading font-medium">
                    Contact us
                </a>
            </nav>
            <div class="flex items-center gap-[16px]">
                <button 
                    type="button"
                    routerLink="/login" 
                    class="bg-white hover:bg-gray-50 text-heading text-sm font-semibold text-center px-[14px] py-[8px] rounded-lg border border-heading">
                    Login
                </button>
                <button 
                    type="button" 
                    routerLink="/register"
                    class="bg-primary hover:bg-tertiary text-white text-sm font-semibold text-center px-[14px] py-[8px] rounded-lg border border-primary">
                    Register
                </button>
            </div>
        </header>
        <div class="absolute top-0 left-0">
            <img src="../../assets/vector-2.svg" alt="vector-2">
        </div>
        <div class="absolute bottom-0 right-0">
            <img src="../../assets/vector-1.svg" alt="vector-2">
        </div>
        <section class="grid lg:grid-cols-2 gap-[1rem] lg:mt-[10rem] xl:mt-[10rem] 3xl:mt-[15rem]">
            <div class="flex flex-col gap-[1.5rem] 3xl:gap-[2rem]">
                <h1 class="text-heading font-bold lg:text-2xl xl:text-4xl tracking-wide">
                    Comprehensive Personnel <br>
                    Recovery solutions for <br>
                    Disaster Resilience
                </h1>
                <p class="tracking-wide text-paragraph">
                    Ensure the safety and continuity of your operations by protecting <br>
                    essential personnel. Our solutions prioritize the well-being of critical <br>
                    team members, enabling your organization to remain resilient and <br>
                    responsive in the face of any disaster. Safeguard your most valuable <br>
                    asset—your people—with our tailored recovery strategies.
                </p>
                <button 
                    type="button" 
                    routerLink="/register"
                    class="bg-primary w-fit hover:bg-tertiary text-white text-sm font-semibold text-center px-[14px] py-[8px] rounded-lg border border-primary">
                    Get started for free
                </button>
            </div>
            <div class="flex pt-[1.5rem] justify-between w-full z-10">
                <div class="w-[50%] flex flex-col gap-[10px]">
                    <span>
                        <img src="../../assets/Avatar group.svg" class="w-[40%]" alt="avatar-group">
                    </span>
                    <p class="tracking-wide text-heading">
                        More than 9.5k members are <br> connected with us.
                    </p>
                    <span>
                        <img src="../../assets/woman-1.png" class="xl:w-[80%]" alt="woman-1">
                    </span>
                </div>
                <div class="w-[50%] flex flex-col justify-between">
                    <span class="relative rounded-[16px] xl:h-[75%] 3xl:h-[70.7%] w-full bg-[#a6f4c5]">
                        <img src="../../assets/nurse.png" class="absolute -right-[60px] 3xl:-right-[70px] -top-[60px] 3xl:-top-[112px] w-full" alt="nurse">
                    </span>
                    <div class="flex items-center justify-between 2xl:justify-start 2xl:gap-[8rem]">
                        <span>
                            <h4 class="font-bold tracking-wide text-3xl">10k +</h4>
                            <p class="text-paragraph text-sm font-medium mt-[5px]">Lives impact</p>
                        </span>
                        <span>
                            <h4 class="font-bold tracking-wide text-3xl">98%</h4>
                            <p class="text-paragraph text-sm font-medium mt-[5px]">User satisfaction</p>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="w-full h-screen px-[5%] py-[2%] 2xl:py-[4%] bg-white flex flex-col" id="about_us">
        <h3 class="tracking-wide text-heading font-bold text-2xl text-center mb-2">About us</h3>
        <p class="text-heading tracking-wide text-center mb-[3rem]">
            Ensure the safety and continuity of your operations by protecting essential personnel. Our solutions prioritize the well- <br>
            being of critical team members, enabling your organization to remain resilient and responsive in the face of any <br>
            disaster. Safeguard your most valuable asset—your people—with our tailored recovery strategies.
        </p>
        <div class="flex w-full items-center gap-[5rem]">
            <div class="relative rounded-[16px] span-img w-[45%] 2xl:w-[50%] h-[66vh]">
                <span class="absolute bottom-0 right-0 bg-tertiary py-[40px] px-[16px] text-white">
                    <h4 class="font-bold tracking-wide text-3xl">10k +</h4>
                    <p class="font-medium mt-[5px]">Lives impact</p>
                </span>
            </div>
            <div class="flex flex-col gap-[2rem] w-[55%] 3xl:w-[50%] 3xl:gap-[2rem] 3xl:pt-[2rem]">
                <p class="tracking-wide text-paragraph">
                    We provide essential solutions to protect and support critical personnel during
                    emergencies. Our goal is to ensure operational continuity and resilience through
                    strategic recovery plans, safeguarding your most valuable assets—your people. With
                    our expertise, organizations can confidently face any disaster, knowing their key
                    team members are prioritized and prepared.
                </p>
                <p class="tracking-wide text-paragraph">
                    Our vision is to be the leading provider of comprehensive personnel recovery 
                    solutions, ensuring that every organization is equipped to protect and support its 
                    most vital assets in times of crisis. We aim to create a world where businesses can 
                    maintain operational stability and swiftly recover from disasters, thanks to our 
                    innovative and strategic approach to personnel protection. By fostering resilience 
                    and preparedness, we aspire to enhance the overall safety and security of 
                    workplaces, empowering organizations to thrive even in the face of adversity. 
                    Through our commitment to excellence and continuous improvement, we strive to 
                    set new standards in disaster recovery and personnel protection, making 
                    a significant positive impact on the global business community.
                </p>
                <button 
                    type="button" 
                    routerLink="/register"
                    class="bg-primary w-fit hover:bg-tertiary text-white text-sm font-medium text-center px-[14px] py-[8px] rounded-lg border border-primary">
                    Sign up now
                </button>
            </div>
        </div>
    </div>
    <div class="w-full relative h-screen py-[2%] 2xl:py-[4%] bg-white flex flex-col features" id="features">
        <div class="px-[5%] py-[5rem]">
            <h3 class="tracking-wide text-white font-bold text-center text-2xl mb-2">Features</h3>
            <div class="flex justify-between py-[4rem] 3xl:py-[3rem]">
                <div class="flex flex-col gap-10px text-white span">
                    <span class="pl-[20px] border-l-2 border-white pb-[20px]">
                        <h5 class="text-lg font-bold tracking-wide mb-[10px] leading-none">Identification and Prioritization</h5>
                        <p class="tracking-wide text-white opacity-90">
                            Identify and prioritize essential personnel based on their critical skills to <br>
                            ensure key team members are protected during emergencies.
                        </p>
                    </span>
                    <span class="pl-[20px] border-l-2 border-white pb-[20px]">
                        <h5 class="text-lg font-bold tracking-wide mb-[10px]">Evaluation and Verification</h5>
                        <p class="tracking-wide text-white opacity-90">
                            Conduct regular assessments and verify credentials to maintain <br>
                            accurate and reliable information for recovery plans.
                        </p>
                    </span>
                    <span class="pl-[20px]">
                        <h5 class="text-lg font-bold tracking-wide mb-[10px]">Strategic Recovery Planning</h5>
                        <p class="tracking-wide text-white opacity-90">
                            Develop detailed, tailored recovery plans to maintain operational <br>
                            continuity by protecting and quickly reintegrating key personnel.
                        </p>
                    </span>
                </div>
                <div class="absolute -top-8 right-10 max-w-full">
                    <img src="../../assets/woman-2.png" class="w-full" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="w-full px-[5%] h-screen py-[2%] 3xl:py-[4%] bg-white flex flex-col" id="services">
        <h3 class="tracking-wide text-heading font-bold text-2xl text-center mb-2">Services</h3>
        <p class="text-heading tracking-wide text-center mb-[2rem] 3xl:mb-[5rem]">
            Ensure the safety and continuity of your operations by protecting essential personnel. Our solutions prioritize the well- <br>
            being of critical team members, enabling your organization to remain resilient and responsive in the face of any <br>
            disaster. Safeguard your most valuable asset—your people—with our tailored recovery strategies.
        </p>
        <div class="grid grid-cols-2 gap-[2.5rem]">
            <div class="flex justify-between p-[1rem] items-center bg-gray50 gap-[1rem] border border-border rounded-lg">
                <div class="w-[70%]">
                    <h5 class="text-xl text-heading font-bold tracking-wide mb-[10px]">Emergency response planning</h5>
                    <p class="tracking-wide text-paragraph mb-[10px]">
                        Develop comprehensive emergency response <br>
                        plans tailored to your organization's needs.
                    </p>
                    <p class="tracking-wide text-paragraph">
                        Include detailed protocols for communication, <br>
                        evacuation, and immediate response actions to <br>
                        protect key personnel.
                    </p>
                </div>
                <div class="-mt-8">
                    <img src="../../assets/woman-3.png" class="lg:w-[85%] 3xl:w-full" alt="">
                </div>
            </div>
            <div class="flex justify-between p-[1rem] items-center bg-gray50 gap-[1rem] border border-border rounded-lg">
                <div class="w-[70%]">
                    <h5 class="text-xl text-heading font-bold tracking-wide mb-[10px]">Training and Preparedness Programs</h5>
                    <p class="tracking-wide text-paragraph mb-[10px]">
                        Provide regular training sessions and <br>
                        preparedness programs for identified personnel.
                    </p>
                    <p class="tracking-wide text-paragraph">
                        Ensure all essential team members are equipped <br>
                        with the knowledge and skills to handle <br>
                        emergency situations effectively.
                    </p>
                </div>
                <div class="-mt-8">
                    <img src="../../assets/man.png" class="lg:w-[85%] 3xl:w-full" alt="">
                </div>
            </div>
            <div class="flex justify-between p-[1rem] items-center bg-gray50 gap-[1rem] border border-border rounded-lg">
                <div class="w-[70%]">
                    <h5 class="text-xl text-heading font-bold tracking-wide mb-[10px]">Psychological and Emotional Support</h5>
                    <p class="tracking-wide text-paragraph mb-[10px]">
                        Provide access to psychological and emotional <br>
                        support services for critical personnel during and <br>
                        after a disaster.
                    </p>
                    <p class="tracking-wide text-paragraph">
                        Include counseling and stress management <br>
                        resources to help team members cope with <br> traumatic events.
                    </p>
                </div>
                <div class="-mt-8">
                    <img src="../../assets/woman-4.png" class="lg:w-[85%] 3xl:w-full" alt="">
                </div>
            </div>
            <div class="flex justify-between p-[1rem] items-center bg-gray50 gap-[1rem] border border-border rounded-lg">
                <div class="w-[70%]">
                    <h5 class="text-xl text-heading font-bold tracking-wide mb-[10px]">Customized Consultation Services</h5>
                    <p class="tracking-wide text-paragraph mb-[10px]">
                        Provide tailored consultation services to help <br>
                        organizations develop and implement effective <br> personnel disaster recovery strategies.
                    </p>
                    <p class="tracking-wide text-paragraph">
                        Work closely with clients to understand their <br>
                        unique needs and challenges, ensuring <br> customized solutions.
                    </p>
                </div>
                <div class="-mt-8">
                    <img src="../../assets/woman-5.png" class="lg:w-[85%] 3xl:w-full" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="w-full px-[5%] py-[5%]">
        <div class="bg-banner relative h-[200px] flex items-center rounded-xl px-[2%] justify-between">
            <h3 class="tracking-wide text-[#12B76A] font-bold text-2xl text-center mb-2">Protecting people. Ensuring <br> resilience. Building strength.</h3>
            <div class="flex items-center z-10 pr-[2rem] gap-4">
                <span class="bg-spanImg w-[100px] h-[100px] flex items-center justify-center rounded-full border-4 border-white">
                    <img src="../../assets/activity.svg" alt="">
                </span>
                <span class="bg-spanImg w-[100px] h-[100px] flex items-center justify-center rounded-full border-4 border-white">
                    <img src="../../assets/heart.svg" alt="">
                </span>
                <span class="bg-spanImg w-[100px] h-[100px] flex items-center justify-center rounded-full border-4 border-white">
                    <img src="../../assets/thermometer.svg" alt="">
                </span>
            </div>
            <div class="absolute top-0 left-0 max-w-full">
                <img src="../../assets/vector-3.svg" class="w-[70%]" alt="">
            </div>
            <div class="absolute top-0 -right-16 max-w-full">
                <img src="../../assets/vector-4.svg" class="w-[80%]" alt="">
            </div>
        </div>
    </div>
    <div class="w-full h-screen px-[5%] py-[4%] 2xl:py-[4%] bg-[#F9FAFB] flex flex-col" id="testimonial">
        <h3 class="tracking-wide text-heading font-bold text-2xl text-center mb-2">Testimonials</h3>
        <p class="text-heading tracking-wide text-center mb-[2rem]">
            Ensure the safety and continuity of your operations by protecting essential personnel. Our solutions prioritize the well- <br>
            being of critical team members, enabling your organization to remain resilient and responsive in the face of any <br>
            disaster. Safeguard your most valuable asset—your people—with our tailored recovery strategies.
        </p>
        <div class="container">
            <div class="img-container" style="top: 0%; left: 8%;">
                <div class="testimonial">
                    <img src="../../assets/test-1.png" alt="">
                    <div class="tooltip shadow-md">Quick recovery after the crisis!</div>
                </div>
            </div>
            <div class="img-container" style="top: 40%; left: 8%;">
                <div class="testimonial">
                    <img src="../../assets/test-2.png" alt="">
                    <div class="tooltip shadow-md">Helped us get back on track.</div>
                </div>
            </div>
            <div class="img-container" style="top: 70%; left: 20%;">
                <div class="testimonial">
                    <img src="../../assets/test-3.png" alt="">
                    <div class="tooltip shadow-md">Efficient and reliable service.</div>
                </div>
            </div>
            <div class="img-container" style="top: 5%; left: 30%;">
                <div class="testimonial">
                    <img src="../../assets/test-4.png" alt="">
                    <div class="tooltip shadow-md">Saved us in a tough time.</div>
                </div>
            </div>
            <div class="img-container" style="top: 38%; left: 35%;">
                <div class="testimonial">
                    <img src="../../assets/test-5.png" alt="">
                    <div class="tooltip shadow-md">Excellent disaster recovery.</div>
                </div>
            </div>
            <div class="img-container" style="top: 10%; left: 50%;">
                <div class="testimonial">
                    <img src="../../assets/test-6.png" alt="">
                    <div class="tooltip shadow-md">Prompt and professional support.</div>
                </div>
            </div>
            <div class="img-container" style="top: 35%; left: 65%;">
                <div class="testimonial">
                    <img src="../../assets/test-7.png" alt="">
                    <div class="tooltip shadow-md">Highly recommend their services.</div>
                </div>
            </div>
            <div class="img-container" style="top: 70%; left: 50%;">
                <div class="testimonial">
                    <img src="../../assets/test-8.png" alt="">
                    <div class="tooltip shadow-md">Recovered quickly after the incident.</div>
                </div>
            </div>
            <div class="img-container" style="top: 0%; right: 3%;">
                <div class="testimonial">
                    <img src="../../assets/test-9.png" alt="">
                    <div class="tooltip shadow-md">Top-notch disaster recovery services.</div>
                </div>
            </div>
            <div class="img-container" style="bottom: 12%; right: 20%;">
                <div class="testimonial">
                    <img src="../../assets/test-10.png" alt="">
                    <div class="tooltip shadow-md">A lifesaver during our crisis.</div>
                </div>
            </div>
            <div class="img-container" style="bottom: 50%; right: 10%;">
                <div class="testimonial">
                    <img src="../../assets/test-11.png" alt="">
                    <div class="tooltip shadow-md">Highly recommend their services.</div>
                </div>
            </div>
            <div class="img-container" style="bottom: 20%; right: 2%;">
                <div class="testimonial">
                    <img src="../../assets/test-12.png" alt="">
                    <div class="tooltip shadow-md">Reliable response time</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-screen px-[5%] py-[2%] 3xl:py-[4%] bg-white" id="contact_us">
        <h3 class="tracking-wide text-heading font-bold text-2xl text-center">Contact us</h3>
        <p class="text-heading tracking-wide text-sm text-center mb-[2rem]">
            We're here to help. Reach out with any questions or concerns, and our team <br>
            will get back to you promptly.
        </p>
        <div class="flex items-center justify-between">
            <div class="flex items-center flex-col pt-[2.5rem] 3xl:pt-[5rem]">
                <img src="../../assets/Macbook Pro 16 mockup.png" class="w-[85%] 3xl:w-full" alt="Macbook">
                <img src="../../assets/shadow.png" class="w-[80%] 3xl:w-full" alt="shadow">
            </div>
            <div class="w-[478px] h-auto shadow-md shadow-border p-[24px] 3xl:-mt-[2rem]">
                <h3 class="tracking-wide text-heading font-bold text-4xl text-center mb-1">Get in Touch</h3>
                <p class="text-paragraph tracking-wide text-center mb-[2rem]">
                    You can reach us anytime
                </p>
                <form class="flex flex-col gap-[10px]">
                    <div class="flex items-center gap-[12px]">
                        <input 
                            type="text"
                            id="firstName"
                            placeholder="First name"
                            required
                            class="w-[50%] border border-border shadow-sm shadow-border rounded-lg px-[14px] py-[10px] focus-within:outline-none focus-within:border-heading caret-heading placeholder:text-paragraph"
                        >
                        <input 
                            type="text"
                            id="lastName"
                            placeholder="Last name"
                            required
                            class="w-[50%] border border-border shadow-sm shadow-border rounded-lg px-[14px] py-[10px] focus-within:outline-none focus-within:border-heading caret-heading placeholder:text-paragraph"
                        >
                    </div>
                    <div class="flex items-center px-[14px] py-[10px] shadow-sm shadow-border flex-row-reverse gap-[12px] rounded-lg border border-border">
                        <input 
                            type="email"
                            id="email"
                            placeholder="Your email"
                            required
                            class="w-full h-full focus-within:outline-none focus-within:border-heading caret-heading placeholder:text-paragraph"
                        >
                        <img src="../../assets/envelope.svg" alt="envelope">
                    </div>
                    <div class="flex items-center px-[14px] py-[10px] shadow-sm shadow-border flex-row-reverse gap-[12px] rounded-lg border border-border">
                        <input 
                            type="text"
                            id="phoneNumber"
                            placeholder="Phone number"
                            required
                            class="w-full h-full focus-within:outline-none focus-within:border-heading caret-heading placeholder:text-paragraph"
                        >
                        <img src="../../assets/phone.svg" alt="phone">
                    </div>
                    <textarea 
                        name="help" 
                        id="help"
                        placeholder="How can we help?"
                        class="w-full h-[128px] resize-none border border-border rounded-lg px-[14px] py-[10px] shadow-sm shadow-border focus-within:outline-none focus-within:border-heading caret-heading"
                    >
                    </textarea>
                    <button
                        type="submit"
                        class="px-[14px] py-[8px] w-full text-center rounded-lg shadow-sm shadow-primary bg-primary text-white text-sm font-semibold"
                    >
                        Submit
                    </button>
                    <span class="text-center tracking-wide text-xs text-paragraph">
                        By contacting us, you agree to our <strong class="font-bold">Terms <br> of service</strong>
                        and <strong class="font-bold">Privacy Policy</strong>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-[#101828] flex items-center justify-between px-[5%] w-full h-[150px]">
        <div class="flex items-center gap-[10px]">
            <img src="../../../assets/loom.svg" alt="logo">
            <h2 class="text-primary font-bold tracking-wide text-2xl">Personnel Disaster Recovery</h2>
        </div>
        <p class="text-white tracking tracking-wide">&#169;2024 Paa Kwesi, Bernard, George. All rights reserved.  </p>
    </div>
</div>