<div class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-70">
    <div class="bg-white p-[24PX] w-[400px] rounded-xl shadow-xl">
        <span class="flex items-center justify-between mb-4">
            <h3 class="text-heading font-semibold text-lg">Initiate emergency</h3>
            <button (click)="onCancel()" class="text-black text-2xl">&times;</button>
        </span>
        <form class="flex flex-col gap-[10px]" [formGroup]="initiateEmergencyForm" (ngSubmit)="onSubmit()"> 
            <div class="flex flex-col gap-[4px]">
                <label for="managerName">Manager name</label>
                <input 
                    type="text"
                    required
                    id="managerName"
                    formControlName="managerName"
                    placeholder="Enter manager name"
                    class="border border-border py-[6px] px-[1rem] focus-within:outline-none focus-within:border-heading caret-primary placeholder:text-sm text-heading rounded-lg w-full"
                >
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="emergencyType" class="text-paragraph font-medium tracking-wide text-sm">Emergency type</label>
                <select 
                        id="emergencyType"
                        formControlName="emergencyType"
                        required
                        class="border border-border py-[10px] px-[14px] focus-within:border-heading focus-within:outline-none caret-primary text-sm text-heading rounded-lg w-full"
                    >
                        <option value="">Select emergency type</option>
                        <option *ngFor="let emergency of emergency" [value]="emergency.id">{{ emergency.name }}</option>
                    </select>
            </div>
            <div class="flex flex-col gap-[4px]">
                <label for="location">Location</label>
                <input 
                    type="text"
                    required
                    id="location"
                    formControlName="location"
                    placeholder="Enter emergency location"
                    class="border border-border py-[6px] px-[1rem] focus-within:outline-none focus-within:border-heading caret-primary placeholder:text-sm text-heading rounded-lg w-full"
                >
            </div>
            <div class="w-full flex items-center gap-4">
                <button 
                    class="w-[48%] bg-white text-heading rounded-lg py-[8px] px-[14px] border border-border font-medium"
                    (click)="onCancel()"
                    type="button"
                >
                    Cancel
                </button>
                <button 
                    class="w-[48%] bg-primary text-white rounded-lg py-[8px] px-[14px] font-medium"
                    type="submit"
                    [disabled]="initiateEmergencyForm.invalid"
                >
                    <p *ngIf="!loading" class="tracking-wide font-medium text-white">Confirm</p>
                    <span *ngIf="loading" class="flex items-center gap-[10px]">
                        <app-spinner/> 
                        <p class="text-white font-medium tracking-wide">Submitting...</p>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>